.player-card {
  width: 350px;
  padding: auto;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.players {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding-bottom: 20px;
}

.accent-bar {
  background-color: var(--team-colour);
  border-radius: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
  padding-right: 1px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 6px;
  padding-left: 1px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: auto;
}

.playing {
  background-color: green;
  box-shadow: inset;
}

.not-playing {
  background-color: red;
  box-shadow: inset;
}

.stats {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 90px auto;
  row-gap: 6px;
  padding-left: 1px;
}

.extra-stats {
  display: grid;
  grid-template-columns: 90px auto;
  row-gap: 6px;
  padding-left: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
  gap: 20px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

.followed-team {
  font-weight: bold;
  background-color: rgb(215, 215, 215);
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.team-logo {
  width: 75px;
  height: 75px;
}

.followed-player {
  padding: auto;
  width: 350px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.followed-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.search-page {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 20px;
}

.search-cards {
  width: 450px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.follow-card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  font-size: larger;
}

.follow-card-pob {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 3px;
  font-size: large;
}

.follow-card-bio {
  display: flex;
  font-size: large;
  padding-left: 3px;
  justify-content: space-between;
}

.search-follow-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 5x;
}
