/* Home page */

.home-page {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #e5e4e7;
  min-height: 100svh;
}

.home-title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.logout-button {
  grid-column: 3;
  justify-self: end;
  font-size: medium;
  margin-top: 25px;
}

.logout-button:hover {
  background-color: rgb(218, 216, 216);
  border-color: rgb(218, 216, 216);
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-team-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
  width: 100px;
  font-size: medium;
}

.home-team-button:hover {
  background-color: rgb(218, 216, 216);
  border-color: rgb(218, 216, 216);
}

.home-following-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
  width: 100px;
  font-size: medium;
}

.home-following-button:hover {
  background-color: rgb(218, 216, 216);
  border-color: rgb(218, 216, 216);
}

.search-bar {
  width: 200px;
}

.player-card {
  width: 350px;
  padding: auto;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.players {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding-bottom: 20px;
}

.accent-bar {
  background-color: var(--team-colour);
  border-radius: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
  padding-right: 1px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 6px;
  padding-left: 1px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: auto;
}

.playing {
  background-color: green;
  box-shadow: inset;
}

.not-playing {
  background-color: red;
  box-shadow: inset;
}

.stats {
  display: grid;
  grid-template-columns: 90px auto;
  row-gap: 6px;
  padding-left: 1px;
  background-color: rgb(236, 236, 236);
}

.extra-stats {
  display: grid;
  grid-template-columns: 90px auto;
  row-gap: 6px;
  padding-left: 1px;
}

/* Standings table */

table {
  width: 100%;
  border-collapse: collapse;
  gap: 20px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

/* Following page */

.following-page {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #e5e4e7;
  min-height: 100svh;
}

.followed-team {
  font-weight: bold;
  background-color: rgb(215, 215, 215);
}

.home-button {
  width: 200px;
  font-size: medium;
  align-self: center;
}

.home-button:hover {
  background-color: rgb(218, 216, 216);
  border-color: rgb(218, 216, 216);
}

.following-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followed-team-box {
  border-style: solid;
  border-radius: 8px;
  width: 350px;
  padding-bottom: 3px;
  color: black;
  background-color: var(--team-colour);
}

.followed-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.followed-player {
  width: 350px;
  height: auto;
  padding-bottom: 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.card-pob {
  display: flex;
  justify-content: space-between;
  gap: auto;
  padding-left: 3px;
  padding-right: 3px;
  font-size: large;
}

.pob-long {
  font-size: medium;
}

.card-bio {
  display: flex;
  font-size: large;
  padding-left: 3px;
  justify-content: space-between;
}

.draft-details {
  display: flex;
  padding-left: 5px;
}

/* Follow/Unfollow Buttons */

.followed-player .unfollow-button {
  margin-top: -10px;
}

.unfollow-button .unfollow {
  display: none;
}

.unfollow-button button:hover {
  color: red;
  background: rgb(235, 130, 130);
  border-color: rgb(235, 130, 130);
}

.unfollow-button button:hover .unfollow {
  display: inline;
  color: red;
  background: rgb(235, 130, 130);
  border-color: rgb(235, 130, 130);
}

.unfollow-button button:hover .following {
  display: none;
  color: red;
  background: rgb(235, 130, 130);
  border-color: rgb(235, 130, 130);
}

.follow-button button:hover {
  display: inline;
}

.follow-button .unfollow {
  display: none;
}

.follow-button button:hover .follow {
  display: inline;
}

.follow-button button:hover .unfollow {
  display: none;
}

/* Team Page */

.teams-page {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #e5e4e7;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.team-logo {
  width: 75px;
  height: 75px;
  margin-bottom: -10px;
}

/* Search page */

.search-page {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #e5e4e7;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 20px;
}

.search-cards {
  width: 450px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  font-size: large;
  color: black;
}

.search-card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  font-size: larger;
}

.follow-button .search-follow-button {
  margin-right: 2px;
  margin-bottom: 2px;
}

.unfollow-button .search-follow-button {
  margin-right: 2px;
  margin-bottom: 2px;
}

/* Login page */

.title {
  margin-bottom: 90px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/icerink.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  gap: 50px;
}

.login-box {
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 2px;
  padding-bottom: 20px;
  padding-top: 5px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: small;
  color: black;
  align-self: flex-start;
  margin-bottom: -5px;
  padding-left: 7px;
}

.form-input {
  width: 400px;
  height: 35px;
  border-radius: 12px;
  border-style: solid;
  font-size: medium;
}

.login-button {
  margin-top: 10px;
  margin-bottom: 40px;
}

.login-button button {
  width: 400px;
  font-size: medium;
}

.login-button button:hover {
  background-color: rgb(218, 216, 216);
  border-color: rgb(218, 216, 216);
}

.sign-up-button button {
  width: 400px;
  background-color: rgb(201, 50, 50);
  border-color: rgb(201, 50, 50);
  font-size: medium;
}

.sign-up-button button:hover {
  width: 400px;
  background-color: rgb(171, 44, 44);
  border-color: rgb(171, 44, 44);
  font-size: medium;
}

.error {
  width: 200px;
  font-size: small;
}
