.player-card {
  width: 350px;
  padding: auto;
  border-radius: 8px;
  color: black;
  font-size: large;
  border-style: solid;
  border-color: black;
}

.players {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.followed-team {
  font-weight: bold;
}

.bar {
  background-color: orange;
  border-radius: 5px;
}

.break {
  background-color: rgb(236, 236, 236);
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: auto;
}

.playing {
  background-color: green;
  box-shadow: inset;
}

.not-playing {
  background-color: red;
  box-shadow: inset;
}

table {
  width: 100%;
  border-collapse: collapse;
  gap: 20px;
  background: linear-gradient(to bottom, rgb(97, 139, 97), rgb(217, 217, 94), rgb(212, 85, 85));
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}
